version 6


interface {{  INTERFACE  }} internet
  protection strong
  server http accept
  server https accept
  server ssh   accept
  client all   accept

#https://firehol.org/guides/firehol-welcome/
