version 6

{% for service in services %}
server_{{  service.name  }}_ports="{% for protocol in service.protocols  %}{{  protocol }}/{  service.port  }} "{% endfor %}
client_{{service.name  }}_ports="default"
{% endfor %}


interface {{ ansible_default_ipv4.interface }} internet
  protection strong
  {% for service in services %}
  server4 {{  service.name  }} accept src {{  service.trusted  }}
  {% endfor %}
  server ssh   accept
  client all   accept

#https://firehol.org/guides/firehol-welcome/
