globalSettings__baseServiceUri__vault=https://localhost
globalSettings__sqlServer__connectionString="Data Source=tcp:mssql,1433;Initial Catalog=vault;Persist Security Info=False;User ID=sa;Password=MsFaqwZi8MHMCv3Wj1z7ceuBDbspE3kz;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
globalSettings__identityServer__certificatePassword=
globalSettings__internalIdentityKey=A5wgCpob9qsXXzZsl1P1jBdHDBrDyOCTWKIuMee5TXxcCejCRF3Zau6wJWE2HBkW
globalSettings__oidcIdentityClientKey=qk0pBj66xU8IwBwLV1QZmxpQJMg41ksz4YQ39EOIvUWl3Xmy8ICK52MobEVHxvXT
globalSettings__duo__aKey=dGHORAfYe85WPh8hlHQezpIlkDNcE5ZIB8m26qJY1likQbHs5RwRf0igSdUhjWOT
globalSettings__installation__id=00000000-0000-0000-0000-000000000000
globalSettings__installation__key=
globalSettings__yubico__clientId=REPLACE
globalSettings__yubico__key=REPLACE
globalSettings__mail__replyToEmail=no-reply@localhost
globalSettings__mail__smtp__host={{ smtp_host }}
globalSettings__mail__smtp__port=587
globalSettings__mail__smtp__ssl=false
globalSettings__mail__smtp__username={{ smtp_username }}
globalSettings__mail__smtp__password={{ smtp_password }}
globalSettings__disableUserRegistration=false
globalSettings__hibpApiKey=REPLACE
adminSettings__admins={{ admin_email }}
